@import url(//db.onlinewebfonts.com/c/fd1ad3a0f95210975d2f5607501020b5?family=Norse);
body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: whitesmoke;
}

.background {
    background-image: url(./bush.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin-left: -8px;
    margin-top: -8px;
}

.odin {
    height: 80px;
}

.logo {
    display: flex;
    color: white;
    font-family: 'Norse';
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    opacity: 50%;
    margin-top: 30%;
    height: 100px;
}

.heading {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    margin-top: 50px;
}

.heading>h1, .sign-up>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 50px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 30px;
    width: 69%;
    font-weight: 550;
    margin-left: 50px;
    margin-right: 0%;
}

.first, .mail, .pw, .last, .pnum, .confirm {
    display: flex;
    flex-direction: column;
    font-size: smaller;
}

input {
    width: 65%;
    height: 150%;
}

input:focus {
    border: blue;
}

.sign-up {
    background-color: white;
    margin-left: 0;
    margin-right: -10px;
    margin-top: 32px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 10px rgb(136, 135, 135);
    padding-top: 5px;
}

.create {
    margin-left: 50px;
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #596D48;
    font-size: 16px;
}

p {
    margin-left: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    color: #596D48;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}